<h2>Главное меню</h2>
<p>
    <a asp-action="Profile">
        <input type="submit" value="Профиль" />
    </a>
</p>
<p>
    <a asp-action="Products">
        <input type="submit" value="Каталог товаров" />
    </a>
</p>
<p>
    <a asp-action="Basket">
        <input type="submit" value="Корзина" />
    </a>
</p>
